
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>GECKO MEDIA</title>
	<meta name="description" content="Công ty thiết kế website uy tín, chất lượng. Dịch vụ thiết kế website theo đúng chuẩn SEO được đánh giá cao bởi các doanh nghiệp trong và ngoài nước. Hãy cùng chúng tôi giúp việc kinh doanh của bạn phát triển mạnh trên internet! Hotline: 097.642.9086">
	<meta name="author" content="thiet ke website, thiết kế website, dich vu thiet ke website, dịch vụ thiết kế website, cong ty thiet ke website, công ty thiết kế website, thiet ke bo thuong hieu, Thiết kế bộ thương Hiệu, dich vu SEO & Adword, dịch vụ Seo & Adword, domain, Hosting.">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->

	<!-- CSS for Nivo Slider -->
	<link rel="stylesheet" href="stylesheets/themes/default/default.css">
    <link rel="stylesheet" href="stylesheets/nivo-slider.css">
    <link rel="stylesheet" href="stylesheets/nivo-style.css">
    
    <!-- css site style -->
    <link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/buttons.css">
	<link rel="stylesheet" href="stylesheets/mediaquery.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if IE 9]>
		<link rel="stylesheet" href="stylesheets/layout-ie9.css">
	<![endif]-->

	<!--[if IE 8]>
		<link rel="stylesheet" href="stylesheets/layout-ie8.css">
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39996488-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div class="siteoptions"><!-- site option box view -->
	
	<div class="siteoptions-container">
		
		<h5>Chọn nền bạn thích:</h5>
		
		<ul>
			<li class="bg1"></li>
			<li class="bg2"></li>
			<li class="bg3"></li>
			<li class="bg4"></li>
			<li class="bg5"></li>
			<li class="bg6"></li>
			<li class="bg7"></li>
			<li class="bg8"></li>
			<li class="bg9"></li>
			<li class="bg10"></li>
			<li class="bg11"></li>
			<li class="bg12"></li>
			<li class="bg13"></li>
			<li class="bg14"></li>
			<li class="bg15"></li>
		</ul>
		
		<span class="removebg">Bỏ hình nền</span>
		
	</div>
	
	<div class="siteoptions-btn">
	</div>
	
</div><!-- end site option box view -->



<div class="boxcontainer">
	<div class="boxview">
    
		<div class="header">		
			<header class="header-content">
		
				<h1 class="logo"><a href=".">Gecko Media</a></h1>
										
					<div class="navigation">
		
						<nav class="primary">					
								<ul id="nav">								
									<li><a href="index.html" class="active">Home</a></li>									
									<li><a href="gioi-thieu.html">Giới thiệu</a></li>
									<li><a href="#">Dịch vụ</a>									
										<ul>
											<li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Bộ Thương Hiêu</a>
                                            	<ul>
													<li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Logo</a></li>
													<li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Ấn phẩm</a></li>
                                                    <li><a href="thiet-ke-bo-thuong-hieu.html">Tư vấn thiết kế bộ nhận dạng thương hiệu</a></li>
												</ul>	
                                            </li>
											<li><a href="thiet-ke-web.html">Thiết kế Website</a>																			
												<ul>
													<li><a href="thiet-ke-website-theo-yeu-cau.html">Thiết kế Theo yêu cầu</a></li>
													<li><a href="300-mau-website.html">Thiết kế Web nhanh</a></li>
                                                    <li><a href="thiet-ke-web-nhanh.html">Thiết kế gian hàng trên facebook</a></li>
                                                    <li><a href="thiet-ke-web-nhanh.html">Thiết kế Email Marketing</a></li>
                                                    <li><a href="thiet-ke-web-nhanh.html">Nhận quản trị nội dung web</a></li>
												</ul>											
											</li>
                                            <li><a href="seo-adword.html">SEO & Adword</a></li>
                                            <li><a href="domain-hosting.html">Tên Miền & Hosting</a></li>
                                            <li><a href="phan-mem.html">Phần Mềm</a>
                                            	<ul>
													<li><a href="phan-mem.html">PM FORUM POSTER </a></li>
													<li><a  href="phan-mem.html">PM quảng cáo Facebook</a></li>
                                                    <li><a  href="phan-mem.html">PM SMSSchool</a></li>
                                                    <li><a  href="phan-mem.html">PM RestaurantPro</a></li>
                                                    <li><a  href="phan-mem.html">PM HotelPro</a></li>
                                                    <li><a  href="phan-mem.html">PM Callcenter</a></li>
                                                    <li><a  href="phan-mem.html">PM SMSGW</a></li>
												</ul>
                                            </li>
										</ul>										
									</li>
									<li><a href="ho-tro.html">Hỗ Trợ</a></li>
									<li><a href="lien-he.html">Liên Hệ</a></li>						
								</ul>									
						</nav><!--end container-->
						
						<div class="clearfix"></div>
						
					</div><!--end band navigation-->							
		
			</header><!--end container-->
			
		</div><!--end band-->	
		
		<!-- =================== slider ============= -->
		
		<div class="band slider">
			<div id="wrapper">
		    	<a class="nivo-prevNavEx nivo-prevNav"></a>
				<a class="nivo-nextNavEx nivo-nextNav"></a>
		 		<div class="slider-wrapper theme-default">
		            <div id="slider" class="nivoSlider">		            	             
		            	<img src="images/nivo-slide/img1.jpg" data-thumb="images/nivo-slider/img1.jpg" alt="" title="#caption-1">		                
		                <img src="images/nivo-slide/img2.jpg" data-thumb="images/nivo-slider/img2.jpg" alt="" title="#caption-2">		                
		                <img src="images/nivo-slide/img3.jpg" data-thumb="images/nivo-slider/img3.jpg" alt="" title="#caption-3">                   	
		            </div>
		                    
		           	<!-- Slide #1 caption (id="caption-1") -->
		            <div class="nivo-html-caption" id="caption-1">
		                <div>
			                <h1>Hơn 300 mẫu Website cực đẹp.</h1>
		                    <p>Với kho giao diện được thiết kế cực đẹp, chuyên nghiệp, theo tiêu chuẩn quốc tế phù hợp với từng ngành nghề, lĩnh vực kinh doanh. Bạn dễ dàng lựa chọn và thay đổi theo ý muốn.</p>
		                    <a href="300-mau-website.html" class="buttonorange">Xem chi tiết</a>
		                </div>
		            </div>
		            
		           	<!-- Slide #2 caption (id="caption-2") -->
		            <div class="nivo-html-caption" id="caption-2">
		                <div>
			                <h1 >Ứng dụng phong phú từ cộng đồng.</h1>
		                    <p>Được xây dựng dựa trên nền tảng Công nghệ mới và cộng đồng lập trình viên lớn nhất trong các giải pháp thương mại điện tử trên thế giới, hoàn toàn tương thích với hệ thống của chúng tôi.</p>
		                    <a href="seo-adword.html" class="buttonorange">Xem chi tiết</a>
		                </div>
		            </div>
		            
		            <!-- Slide #3 caption (id="caption-3") -->
		            <div class="nivo-html-caption" id="caption-3">
		                <div>
			                <h1 >Dịch vụ đăng ký Tên miền &s Hosting</h1>
		                    <p>Khách hàng khi đăng ký tên miền tại GECKO MEDIA Được Nhiều ưu đã như: Tư vấn miễn phí thiết kế website, tư vấn phát triển sản phầm theo hương marketing online và nhiều thứ khác....</p>
		                    <a href="domain-hosting.html" class="buttonorange">Xem chi tiết</a>
		                </div>
		            </div>
                    
				</div>
		
		     </div>
		        
		</div>
		
		
		<!-- =============== end slider ============= -->
		
		
		<div class="band">			
			<div class="portmenu">            
            	<div class="portmenu-content">				
                    <div class="sixteen columns">				
                        <ul class="portmenu-list">
                            <li><a href="thiet-ke-web.html"><img src="images/webdesign-icon.png" alt="Web Design">Web design</a></li>
                            <li><a href="thiet-ke-bo-thuong-hieu.html"><img src="images/graphicdesign-icon.png" alt="Graphic Design">Graphic design</a></li>
                            <li><a href="seo-adword.html"><img src="images/printmedia-icon.png" alt="Maketing online">Marketing online</a></li>
                            <li><a href="phan-mem.html"><img src="images/brand-icon.png" alt="Soft Ware">Soft ware</a></li>
                        </ul>				
                    </div><!--end sixteen columns-->                
                </div><!--end portmenu-content--> 				
			</div><!--end portmenu-->			
		</div> <!--end portmenu-->
		
		<div class="container main"><!--shadow-->
			<div class="container">
				<div class="portmenu-shadow"></div>
			</div>
		</div><!--end shadow-->
		
		
		<div class="maincontainer"><!-- start main container -->
        
            <div class="container"><!-- features -->
                <div class="containerbox">
                		
                    <div class="four columns">
                        <div class="featuresbox2">
                            <div class="feature1-image"></div>
                            <h2>Thiết kế website</h2>
                            <p>Thiết kế website là hình ảnh doanh nghiệp, cá nhân hay thậm chí là một quốc gia trên internet và để lại giá trị đích thực cho người sử dụng!.</p>
                            <button class="greybutton">Xem Tiếp</button>
                        </div>
                    </div>
                    
                    <div class="four columns">
                        <div class="featuresbox2">
                            <div class="feature2-image"></div>				
                            <h2>Quáng bá website</h2>
                            <p>Được tối ưu SEO onpage và thân thiện với các bộ máy tìm kiếm, đồng thời hệ thống website vệ tinh của <a href="http://geckomedia.vn">Gecko Media</a> giúp cho việc SEO trở nên dễ dàng.</p>
                            <button class="greybutton">Xem tiếp</button>
                        </div>
                    </div>
                    
                    <div class="four columns">
                        <div class="featuresbox2">
                            <div class="feature4-image"></div>
                            <h2>Hơn 300 mẫu đẹp</h2>
                            <p>Với kho giao diện được thiết kế cực đẹp, chuyên nghiệp, theo tiêu chuẩn quốc tế phù hợp với từng ngành nghề, lĩnh vực kinh doanh. Bạn dễ dàng lựa chọn và thay đổi theo ý muốn.</p>
                            <button class="greybutton">read more</button>
                        </div>
                    </div>
                    
                    <div class="four columns">
                        <div class="featuresbox2">
                            <div class="feature3-image"></div>
                            <h2>Hỗ trợ Nhiệt tình</h2>
                            <p>Đội ngũ nhân viên chuyên nghiệp sẽ Hỗ trợ và Tư vân bạn một cách nhanh nhất và nhiệt tình nhất. Đưa ra các giải pháp tối ưu để khách hàng tiếp cận với xu thế và công nghệ mới.</p>
                            <button class="greybutton">read more</button>
                        </div>
                    </div>
                    
                </div><!--end containerbox-->
			</div><!--end features-->
		
             <div class="container">
                <div class="containerbox">
                
                	<div class="four columns"><!--why us-->
                        <h1 class="heading"><span>Bạn chọn GECKO?</span></h1>
                        
                        <div id="accordion">
                            <div class="accordionButton"><span>+</span>Dễ dàng sử dụng Hệ thống Admin.</div>
                            <div class="accordionContent">Tích hợp bộ quản lý nội dung cho phép bạn tạo, chỉnh sửa: sản phẩm, tin tức, dịch vụ và mọi thứ. Cập nhật nội dung cũng như cung cấp nhiều thông tin khác như chi tiết công ty, chính sách, khuyễn mãi, tin tức, liên hệ, bảo hành v.v...</div>
                            
                            <div class="accordionButton"><span>+</span>Trả một lần, sở hữu cả đời.</div>
                            <div class="accordionContent">Bạn chỉ cần thanh toán một lần là có thể sử dụng hệ thống web đẹp mà không cần quan tâm đến thời gian kết thúc. Không phải đóng phí hằng năm hay hàng tháng. Nâng cấp và truy cập phiên bản mới miễn phí trong vòng một năm.</div>
                            
                            <div class="accordionButton"><span>+</span>chức năng hiện đại và ưu việt.</div>
                            <div class="accordionContent">Sản phẩm thiết kế website của <a href="http://geckomedia.vn">Gecko Media</a> chứa đựng các đặc tính của thương mại điện tử cùng nhiều cải tiến như one-page checkout, giao diện web dựa trên cơ sở AJAX, bộ quản lý bộ nhớ ảo, quản lý đơn hàng, cập nhật giá sản phẩm hàng loại, quản lý các phiếu giảm giá (copoun) và nhiều đặc tính khác của công nghệ web 2.0.</div>
                            
                            <div class="accordionButton"><span>+</span>Hỗ trợ KT và đáp ứng sự phát triển</div>
                            <div class="accordionContent">Bạn sẽ luôn được hỗ trợ trong khi sử dụng. Các chuyên gia hỗ trợ kỹ thuật của chúng tôi có nhiệm vụ giúp bạn giải quyết những vấn đề kỹ thuật mà bạn đang gặp phải. Bạn có thể thuê lập trình viên của chúng tôi nhằm đáp ứng nhu cầu đặc biệt riêng khi bạn cần thiết kế web cao cấp hơn nhiều tính năng riêng biệt của bạn hơn.</div>
                        </div>                                    
                    </div><!--end why us-->
                    
                    <div class="twelve columns"><!--recent work-->
                        <h1 class="heading">
                            <span>Dự án tiêu biểu</span>
                        </h1>
                        
                        <div class="wrap">
             
                            <ul id="mycarousel" class="jcarousel-skin-tango">
                                <li><a href="http://thietkenhadep.vn/" target="_blank">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Tư vấn thiết kế kiến trúc Perfect Archi</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port10.jpg" alt="Thiết kế website chuyên nghiệp">
                                    </div>                    
                                    </a>
                                </li> 
                                 <li><a href="http://banhphuthe.com/" target="_blank">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Dịch vụ BÁNH PHU THÊ Bắc Ninh</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port11.jpg" alt="Thiết kế website chuyên nghiệp">
                                    </div>                    
                                    </a>
                                </li> 
                                
                                                              
                                <li><a href="http://www.booksearch.sg" target="_blank">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Dịch vụ mua bán sách online của Singapore.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port7.jpg" alt="port3">
                                    </div>                    
                                    </a>
                                </li>                                
                                                             
                                <li><a href="http://nobuviet.com" target="_blank">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Dịch vụ Nhà hàng Nobu Việt.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port8.jpg" alt="port5">
                                    </div>                    
                                    </a>
                                </li>                                
                                                           
                                <li><a href="http://artexthanglong-hometextile.com" target="_blank">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Dịch vụ cung cấp Chăn Ga Gối Đệm.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port1.jpg" alt="port7">
                                    </div>                    
                                    </a>
                                </li>                                
                                <li><a href="http://linhkienthangmay.com.vn/" target="_blank" >
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Cung cấp linh kiện thang máy New Home.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port2.jpg" alt="port8">
                                    </div>                    
                                    </a>
                                </li>                                
                                <li><a href="http://itoursvietnam.com/" target="_blank">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Dịch vụ du lịch itoursvietnam.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port3.jpg" alt="port9">  
                                    </div>                  
                                    </a>
                                </li>   
                                 <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website Dịch vụ khách sạn.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port6.jpg" alt="port4">
                                    </div>                    
                                    </a>
                                </li>  
                                <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Website trường mầu non Vischool</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port4.jpg" alt="port1">
                                    </div>                    
                                    </a>
                                </li>    
                                 <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>  
                                    <p class="title">Website Dịch vụ Thời Trang Fashion</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port5.jpg" alt="port2">
                                    </div>                    
                                    </a>
                                </li> 
                                 <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom">+</span>
                                    <p class="title">Thiết kế các App cho website công ty & các dịch vụ khác.</p>
                                    <div class="bgfade"></div>                    
                                    <img src="images/port9.jpg" alt="port6">
                                    </div>                    
                                    </a>
                                </li>       
                                                       
                             </ul> 
                                        
                        </div>                        
                    </div><!--end work-->
                
            	</div><!--end containerbox -->
             </div><!--end container -->
                         
            
			 <div class="container">
				<div class="containerbox">
                
                	<div class="twelve columns"><!--from the blog-->
                    
                        <h1 class="heading"><span>Tin Công nghệ mới</span></h1>
                        
                        <div class="wrap2">
             
                            <ul class="fromtheblog">
                                <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom2">+</span>
                                    <div class="bgfade"></div>                    
                                    <img src="images/blog3.jpg" alt="blog1">  
                                    </div>
                                    
                                    <h6>Xu hướng quảng cáo trên mạng xá hội</h6>
                                    <span class="date">10 Sep 2012 | 8 Comments</span>
                                    <p>là phần mềm hỗ trợ bạn quảng cáo thông tin/sản phẩm của mình trên Mạng xã hội lớn nhất thế giới</p>                
                                    </a>			                
                                </li> 
                                
                                <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom2">+</span>
                                    <div class="bgfade"></div>                    
                                    <img src="images/blog2.jpg" alt="blog2"> 
                                    </div>
                                    
                                    <h6>Nghệ thật không giới hạn</h6>
                                    <span class="date">10 Sep 2012 | 8 Comments</span>
                                    <p>Với những hình Ảnh lạ mắt và vẽ trên tất cả địa hình, chất liệu. Mr Đại đã đưa người xem đến hết lý thú này đến thú vị khác.</p>                    
                                    </a>
                                </li>
                                
                                <li><a href="#">
                                    <div class="slide-jcarousel">                                   
                                    <span class="zoom2">+</span>
                                    <div class="bgfade"></div>                    
                                    <img src="images/blog1.jpg" alt="blog1">  
                                    </div>
                                    
                                    <h6>thế giới siêu xe</h6>
                                    <span class="date">10 Sep 2012 | 8 Comments</span>
                                    <p>Thể hiện đẳng cấp bằng những chiếc xe đẳng cấp. triển lãm siêu xe đầu tiên tại Việt Nam.</p>                
                                    </a>			                
                                </li> 
                                                            
                             </ul>
            
                        </div>   
                    
                    </div><!--end from the blog-->
                    
                    
                    <div class="four columns"><!--what client say-->
                    
                        <h1 class="heading"><span>Khách hàng nói...</span></h1>
                        
                        <div class="clientsay">
                            <p>“Chúng tôi đã có Website trước khi sử dụng dịch vụ thiết kế website của Geck Media. Tôi rất hài lòng với trang web mới của mình.</p> 
                            
                            <p>Tôi rất bất ngờ khi sử dụng giải pháp của Gecko Media, website của tôi còn được quảng bá trên google nhanh chóng Cảm ơn Gecko Media”</p>
                        </div>
                        <div class="clientname">
                            <span class="arrow"></span>
                            <span class="name-company">
                                <span class="name">Phạm Tuấn Anh</span><span class="company">http://thietkenhadep.vn</span>
                            </span>
                        </div>
                    
                    </div><!--end what client say-->
                
				</div><!--end containerbox -->
			</div><!--end container -->
		
        </div><!-- end maincontainer -->
		
	<!--##################### footer ######################## -->
		<footer>
			<div class="footer-content">
            	<div class="container">			
				<div class="four columns"><!--first block-->
					<h3 class="logo"><a href="index.html">Gecko Media</a></h3>
					<p>Công ty thiết kế website uy tín, chất lượng. Dịch vụ thiết kế website theo đúng chuẩn SEO. Hãy cùng tìm hiểu cách chúng tôi giúp việc kinh doanh của bạn phát triển mạnh trên internet!<br />
					<a href="aboutus.html">Xem tiếp &rarr;</a></p>
				</div><!--end first block-->
				<div class="four columns"><!--second block-->
					<h3>Hỗ Trợ khách hàng</h3>
					<div class="ja-col">
                        <li>
                            <a rel="nofollow" href="ymsgr:sendim?duong_xuan_hao" target="_blank" title="Thư Tư vấn thiết kế web bán hàng">
                            <img border="0" src="images/avata-lan.jpg" title="Thư Tư vấn thiết kế web bán hàng" alt="Thư Tư vấn thiết kế web bán hàng" class="avatar"></a>
                            <span class="title-ho-tro">Hoàng Thư</span>
                             
                            <span class="sdt">0936.474.346</span>
                            <span class="sdt">thuhn@geckomedia.vn</span>
                            <div class="link">
                            <a title="Tư vấn thiết kế web bán hàng" rel="nofollow" href="ymsgr:sendim?duong_xuan_hao" target="_blank" class="yahoo">
                            <img src="http://opi.yahoo.com/online?u=duong_xuan_hao&amp;m=g&amp;t=5">
                            </a>
                            <a href="mailto:thuhn@geckomedia.vn" class="mailto" rel="nofollow">thuhn@geckomedia.vn</a>
                            </div>
                        </li>
                         <li>
                            <a rel="nofollow" href="ymsgr:sendim?tuvan2_geckomedia" target="_blank" title="Thư Tư vấn thiết kế web bán hàng">
                            <img border="0" src="images/avata-hoa.jpg" title="Thư Tư vấn thiết kế web bán hàng" alt="Thư Tư vấn thiết kế web bán hàng" class="avatar"></a>
                            <span class="title-ho-tro">Quỳnh Hoa</span>
                             
                            <span class="sdt">097.642.9086</span>
                            <span class="sdt">thuhn@geckomedia.vn</span>
                            <div class="link">
                            <a title="Tư vấn thiết kế web bán hàng" rel="nofollow" href="ymsgr:sendim?tuvan2_geckomedia" target="_blank" class="yahoo">
                            <img src="http://opi.yahoo.com/online?u=tuvan2_geckomedia&amp;m=g&amp;t=5">
                            </a>
                            <a href="mailto:thuhn@geckomedia.vn" class="mailto" rel="nofollow">thuhn@geckomedia.vn</a>
                            </div>
                        </li>
                    </div>
				</div><!--end second block-->
				
				
				<div class="four columns"><!--third block-->
					<h3>flickr photos</h3>
					<div class="flickr"></div>
				</div><!--end third block-->
				
				
				<div class="four columns"><!--fourth block-->
					<h3>Thông tin liên hệ:</h3>
					<p>ĐC: Số 19 Phan Bôi Châu - Hoàn Kiếm - Hà Nội</p>
		
					<p> Hotline: 097.642.9086</p>
		
					<p>Email: <a href="mailto:info@geckomedia.vn">info@geckomedia.vn</a></p>
                    <ul class="social">
						<li><a href="http://www.facebook.com/geckomedia" title="facebook" target="_blank"><span class="facebook"></span></a></li>
						<li><a href="http://www.twitter.com/geckomedia" title="twitter" target="_blank"><span class="twitter"></span></a></li>
						<li><a href="http://www.youtube.com/geckomedia" title="youtube" target="_blank"><span class="youtube"></span></a></li>
						<li><a href="http://www.linkedin.com/geckomedia" title="linkedin" target="_blank"><span class="linkedin"></span></a></li>
						<li><a href="#"><span class="rss"></span></a></li>
					</ul>
				</div><!--end fourt block-->


				</div>
			</div>
		</footer><!--end footer-->
		
		<div class="bottom"><!--bottom-->
			<div class="bottom-content">
				<div class="sixteen columns">
					<span class="copyright">Copyright &copy; <a href="geckomedia.vn">GECKOMEDIA</a>. All right reserved. </span>
					
				</div>
			</div>
		</div><!--end bottom-->
        
	</div><!--end boxview-->
</div><!-- end boxcontainer-->

<div id="toTop">Top</div>

	<!-- JS
	================================================== -->
	<script type="text/javascript" src="javascripts/jquery-1.8.2.min.js"></script>
	<script src="javascripts/tabs.js"></script>
	
	<!--nivo slider-->
    <script src="javascripts/jquery.nivo.slider.js"></script>
    
	<!--plugins-->
	<script src="javascripts/jquery.tweet.js"></script>	
	<script src="javascripts/jquery.flickrush.js"></script>	
	<script src="javascripts/jquery.flexslider.js"></script>
	<script src="javascripts/simple.carousel.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>	
		
	<!--instantiate js plugins-->
	<script src="javascripts/whatever.js"></script>	
	<script src="javascripts/jquery.jcarousel.js"></script>

	<!--[if IE 8]>
		<script src="javascripts/whateverIE8.js"></script>
	<![endif]-->
	
<!-- End Document
================================================== -->
</body>
</html>