<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Wealthz - Responsive</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->

	<!-- CSS for Nivo Slider -->
	<link rel="stylesheet" href="stylesheets/themes/default/default.css">
    <link rel="stylesheet" href="stylesheets/nivo-slider.css">
    <link rel="stylesheet" href="stylesheets/nivo-style.css">
    
    <!-- css site style -->
    <link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/buttons.css">
	<link rel="stylesheet" href="stylesheets/mediaquery.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if IE 9]>
		<link rel="stylesheet" href="stylesheets/layout-ie9.css">
	<![endif]-->

	<!--[if IE 8]>
		<link rel="stylesheet" href="stylesheets/layout-ie8.css">
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>

<div class="siteoptions"><!-- site option box view -->
	
	<div class="siteoptions-container">
		
		<h5>Box View Layout Style</h5>
		
		<ul>
			<li class="bg1"></li>
			<li class="bg2"></li>
			<li class="bg3"></li>
			<li class="bg4"></li>
			<li class="bg5"></li>
			<li class="bg6"></li>
			<li class="bg7"></li>
			<li class="bg8"></li>
			<li class="bg9"></li>
			<li class="bg10"></li>
			<li class="bg11"></li>
			<li class="bg12"></li>
			<li class="bg13"></li>
			<li class="bg14"></li>
			<li class="bg15"></li>
		</ul>
		
		<span class="removebg">Clear Box View</span>
		
	</div>
	
	<div class="siteoptions-btn">
	</div>
	
</div><!-- end site option box view -->



<div class="boxcontainer">
	<div class="boxview">
    
		<div class="header">		
			
            <header class="header-content">				
				
                <h1 class="logo"><a href="index-2.html">Wealthz</a></h1>
                                    
                <div class="navigation">                    
                    <nav class="primary">					
                    	<ul id="nav">								
                            <li><a href="index-2.html">Home</a>									
                                <ul>
                                    <li><a href="index2.html"><span>- </span>Homepage 2</a></li>								
                                </ul>									
                            </li>									
                            <li><a href="#">Features</a>									
                                <ul>
                                    <li><a href="aboutus.html"><span>- </span>About us</a></li>
                                    <li><a href="services.html"><span>- </span>Services</a></li>
                                    <li><a href="pricing-table.html"><span>- </span>Pricing table</a></li>
                                    <li><a href="shortcodes.html"><span>- </span>Shortcodes</a></li>
                                </ul>									
                            </li>
                            <li><a href="#">Pages</a>									
                                <ul>
                                    <li><a href="404.html"><span>- </span>404</a></li>
                                    <li><a href="#"><span>- </span>Third Level</a>																			
                                        <ul>
                                            <li><a href="#"><span>- ></span>Third Level 1</a></li>
                                            <li><a href="#"><span>- ></span>Third Level 2</a></li>
                                        </ul>											
                                    </li>
                                </ul>										
                            </li>
                            <li><a href="#" class="active">Portfolio</a>									
                                <ul>
                                    <li><a href="portfolio2columns.html"><span>- </span>Portfolio 2 Columns</a></li>
                                    <li><a href="portfolio3columns.html"><span>- </span>Portfolio 3 Columns</a></li>
                                    <li><a href="portfolio4columns.html"><span>- </span>Portfolio 4 Columns</a></li>
                                    <li><a href="portfolio-single-project.html"><span>- </span>Portfolio Single Project</a></li>
                                    <li><a href="portfolio-single-project-sidebar.html"><span>- </span>Portfolio Single Project with Sidebar</a></li>
                                </ul>									
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog-single.html"><span>- </span>Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>								
                        </ul>							
                    </nav><!--end nav-->                    
                    <div class="clearfix"></div>                    
              	</div><!--end navigation-->			
				
			</header><!--end header-->
                    
        </div> <!-- end container -->
        
        
        	
		
		<!--page intro-->
		
		<div class="band pageintro">
		
			<div class="pageintro-content">
			
				<div class="container">
		
					<div class="thirteen columns">					
						<h1>portfolio 3 columns</h1>
						<h4>These are the work we have done so far.</h4>						
					</div>
					
					<div class="three columns">
						<form name="search" method="post" action="#">
							<input type="text" id="search">
							<input type="submit" name="button" id="button" value="">
						</form>
					</div>
				
				</div>
				
		    </div>    
		</div>		
		<!--end page intro-->
		
		
		<div class="shadow"><!--shadow-->
			<div class="container">
				<div class="portmenu-shadow"></div>
			</div>
        </div><!--end shadow-->
		
        
        <div class="maincontainer"><!-- start main container -->
        
            <div class="container">
                <div class="containerbox">
                
                	<div class="sixteen columns">
                	
                		<ul class="port-nav">
	                   		<li><a href="#" class="active">All</a></li>
	                   		<li><a href="#">Web Design</a></li>
	                   		<li><a href="#">Graphic Design</a></li>
	                   		<li><a href="#">Print Media</a></li>
	                   		<li><a href="#">Brand Identity</a></li>
	                   	</ul>
	                   
	               		<div class="portfolio3columns">
	               			<ul>
	               				<li>
	               					<a href="#">               								                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port1.jpg" alt="port1">			                    			                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               								                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port2.jpg" alt="port2">			                    		                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               						                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port3.jpg" alt="port3">			                    		                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               							                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port4.jpg" alt="port4">			                   			                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               								                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port5.jpg" alt="port5">			                    		                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               								                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port6.jpg" alt="port6">			                    		                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               								                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port7.jpg" alt="port7">			                    		                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               							                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port8.jpg" alt="port8">			                    			                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               							                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port9.jpg" alt="port9">			                    			                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               							                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port1.jpg" alt="port10">			                    			                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               							                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port2.jpg" alt="port11">			                    			                                      
				                    </a>
				                </li>
				                
				                <li>
	               					<a href="#">               							                	                               
				                	<span class="port-zoom">+</span>
				                    <p class="port-title">Your title text here. Lorem ipsum ador sit amet.</p>
				                    <div class="port-bgfade"></div>                    
				                    <img src="images/port3.jpg" alt="port12">			                    			                                      
				                    </a>
				                </li>
				                
	               			</ul>
	               		</div><!--end port3columns-->
	               		
	               		
	               		<div class="pagination"><!--pageination-->
	               			<ul>
	               				<li><a href="#" class="prev">Previous</a></li>
	               				<li><a href="#" class="active">1</a></li>
	               				<li><a href="#">2</a></li>
	               				<li><a href="#">3</a></li>
	               				<li><a href="#">4</a></li>
	               				<li><a href="#" class="next">Next</a></li>
	               			</ul>
	               		</div>
					
					</div>
                    
                </div><!--end containerbox -->
            </div><!--end container -->       
  
                    
        </div><!--end main container-->
        
		<!--##################### footer ######################## -->
		<footer>
			<div class="footer-content">
            	<div class="container">			
				<div class="four columns"><!--first block-->
					<h3 class="logo"><a href="index-2.html">Wealthz</a></h3>
					<p>Integer tempus mattis nulla vitae faucibus. Aenean nec ante nec ligula 
					ultrices aliquam non non mauris.<br />
					<a href="aboutus.html">Read More &rarr;</a></p>
					
				
					<ul class="social">
						<li><a href="http://www.facebook.com/" title="facebook" target="_blank"><span class="facebook"></span></a></li>
						<li><a href="http://www.twitter.com/" title="twitter" target="_blank"><span class="twitter"></span></a></li>
						<li><a href="http://www.digg.com/" title="digg" target="_blank"><span class="digg"></span></a></li>
						<li><a href="http://www.linkedin.com/" title="linkedin" target="_blank"><span class="linkedin"></span></a></li>
						<li><a href="http://www.vimeo.com/" title="vimeo" target="_blank"><span class="vimeo"></span></a></li>
						<li><a href="http://www.youtube.com/" title="youtube" target="_blank"><span class="youtube"></span></a></li>
						<li><a href="http://www.dribbble.com/" title="dribble" target="_blank"><span class="dribble"></span></a></li>
						<li><a href="http://www.stumbleupon.com/" title="stumbleupon" target="_blank"><span class="stumbleupon"></span></a></li>
						<li><a href="http://www.flickr.com/" title="flickr" target="_blank"><span class="flickricon"></span></a></li>
						<li><a href="#"><span class="rss"></span></a></li>
					</ul>
										
				</div><!--end first block-->
				
				
				<div class="four columns"><!--second block-->
					<h3>latest tweets</h3>
					<div class="tweet"></div>
				</div><!--end second block-->
				
				
				<div class="four columns"><!--third block-->
					<h3>flickr photos</h3>
					<div class="flickr"></div>
				</div><!--end third block-->
				
				
				<div class="four columns"><!--fourth block-->
					<h3>contact info</h3>
					<p>1000/4, Wealthz Co,Ltd.BB Tower, 11th Fl. Wattana,Bangkok, 10110. Thailand.</p>
		
					<p>+66 2 712 2345</p>
		
					<p><a href="mailto:info@wealthz.com">info@wealthz.com</a></p>
				</div><!--end fourt block-->
				</div>
			</div>
		</footer><!--end footer-->
		
		<div class="bottom"><!--bottom-->
			<div class="bottom-content">
				<div class="sixteen columns">
					<span class="copyright">Copyright &copy; Wealthz. All right reserved.  |  Design by : <a href="http://themeforest.net/user/tendosk8er/portfolio">Tendosk8er</a></span>
					<span class="powerby">Powered by : <a href="http://www.wordpress.org/" title="WordPress" target="_blank">WordPress</a></span>
				</div>
			</div>
		</div><!--end bottom-->
        
	</div><!--end boxview-->
</div><!-- end boxcontainer-->

<div id="toTop">top</div>

	<!-- JS
	================================================== -->
	<script type="text/javascript" src="javascripts/jquery-1.8.2.min.js"></script>
	<script src="javascripts/tabs.js"></script>
	
	<!--nivo slider-->
    <script src="javascripts/jquery.nivo.slider.js"></script>
    
	<!--plugins-->
	<script src="javascripts/jquery.tweet.js"></script>	
	<script src="javascripts/jquery.flickrush.js"></script>	
	<script src="javascripts/jquery.flexslider.js"></script>
	<script src="javascripts/simple.carousel.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>	
		
	<!--instantiate js plugins-->
	<script src="javascripts/whatever.js"></script>	
	<script src="javascripts/jquery.jcarousel.js"></script>

	<!--[if IE 8]>
		<script src="javascripts/whateverIE8.js"></script>
	<![endif]-->

	
<!-- End Document
================================================== -->
</body>
</html>