<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>GECKO MEDIA</title>
<meta name="description" content="Công ty thiết kế website uy tín, chất lượng. Dịch vụ thiết kế website theo đúng chuẩn SEO được đánh giá cao bởi các doanh nghiệp trong và ngoài nước. Hãy cùng chúng tôi giúp việc kinh doanh của bạn phát triển mạnh trên internet! Hotline: 097.642.9086">
<meta name="kyword" content="Giới Thiệu">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
  ================================================== -->

<!-- CSS for Nivo Slider -->
<link rel="stylesheet" href="stylesheets/themes/default/default.css">
<link rel="stylesheet" href="stylesheets/nivo-slider.css">
<link rel="stylesheet" href="stylesheets/nivo-style.css">

<!-- css site style -->
<link rel="stylesheet" href="stylesheets/base.css">
<link rel="stylesheet" href="stylesheets/skeleton.css">
<link rel="stylesheet" href="stylesheets/layout.css">
<link rel="stylesheet" href="stylesheets/buttons.css">
<link rel="stylesheet" href="stylesheets/mediaquery.css">

<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!--[if IE 9]>
		<link rel="stylesheet" href="stylesheets/layout-ie9.css">
	<![endif]-->

<!--[if IE 8]>
		<link rel="stylesheet" href="stylesheets/layout-ie8.css">
	<![endif]-->

<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
<div class="siteoptions"><!-- site option box view -->
  
  <div class="siteoptions-container">
    <h5>Chọn nền bạn thích:</h5>
    <ul>
      <li class="bg1"></li>
      <li class="bg2"></li>
      <li class="bg3"></li>
      <li class="bg4"></li>
      <li class="bg5"></li>
      <li class="bg6"></li>
      <li class="bg7"></li>
      <li class="bg8"></li>
      <li class="bg9"></li>
      <li class="bg10"></li>
      <li class="bg11"></li>
      <li class="bg12"></li>
      <li class="bg13"></li>
      <li class="bg14"></li>
      <li class="bg15"></li>
    </ul>
    <span class="removebg">Bỏ hình nền</span> </div>
  <div class="siteoptions-btn"> </div>
</div>
<!-- end site option box view -->

<div class="boxcontainer">
<div class="boxview">
  <div class="header">
    <header class="header-content">
      <h1 class="logo"><a href=".">Gecko Media</a></h1>
      <div class="navigation">
        <nav class="primary">
          <ul id="nav">
            <li><a href="index.html" >Home</a></li>
            <li><a href="gioi-thieu.html">Giới thiệu</a></li>
            <li><a href="#" class="active">Dịch vụ</a>
              <ul>
                <li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Bộ Thương Hiêu</a>
                  <ul>
                    <li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Logo</a></li>
                    <li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Ấn phẩm</a></li>
                    <li><a href="thiet-ke-bo-thuong-hieu.html">Tư vấn thiết kế bộ nhận dạng thương hiệu</a></li>
                  </ul>
                </li>
                <li><a href="thiet-ke-web.html">Thiết kế Website</a>
                  <ul>
                    <li><a href="thiet-ke-web.html">Thiết kế Theo yêu cầu</a></li>
                    <li><a href="300-mau-website.html">Thiết kế Web nhanh</a></li>
                    <li><a href="thiet-ke-web.html">Thiết kế gian hàng trên facebook</a></li>
                    <li><a href="thiet-ke-web.html">Thiết kế Email Marketing</a></li>
                    <li><a href="thiet-ke-web.html">Nhận quản trị nội dung web</a></li>
                  </ul>
                </li>
                <li><a href="seo-adword.html">SEO & Adword</a></li>
                <li><a href="domain-hosting.html">Tên Miền & Hosting</a></li>
                <li><a href="phan-mem.html">Phần Mềm</a>
                  <ul>
                    <li><a href="phan-mem.html">PM FORUM POSTER </a></li>
                    <li><a  href="phan-mem.html">PM quảng cáo Facebook</a></li>
                    <li><a  href="phan-mem.html">PM SMSSchool</a></li>
                    <li><a  href="phan-mem.html">PM RestaurantPro</a></li>
                    <li><a  href="phan-mem.html">PM HotelPro</a></li>
                    <li><a  href="phan-mem.html">PM Callcenter</a></li>
                    <li><a  href="phan-mem.html">PM SMSGW</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="ho-tro.html">Hỗ Trợ</a></li>
            <li><a href="lien-he.html">Liên Hệ</a></li>
          </ul>
        </nav>
        <!--end container-->
        
        <div class="clearfix"></div>
      </div>
      <!--end band navigation--> 
      
    </header>
    <!--end container--> 
    
    <!--page intro-->
    
    <div class="band pageintro">
      <div class="pageintro-content">
        <div class="container">
          <div class="thirteen columns">
            <h1>Dịch Vụ Domain và Hosting</h1>
            <h4>Thiết kế chuyên nghiệp, Dịch Vụ hoàn hảo</h4>
          </div>
          <div class="three columns">
            <form name="search" method="post" action="#">
              <input type="text" id="search">
              <input type="submit" name="button" id="button" value="">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--end page intro-->
    
    <div class="shadow"><!--shadow-->
      <div class="container">
        <div class="portmenu-shadow"></div>
      </div>
    </div>
    <!--end shadow-->
    
    <div class="maincontainer"><!-- start main container -->
      <div class="container">
        <div class="containerbox">
          <div class="twelve columns"><!--12 columns-->
            
            <div class="portfolio">
              <div class="port-nav">
                <ul>
                  <li class="prev"></li>
                  <li class="grid"></li>
                  <li class="next"></li>
                </ul>
              </div>
              <h4>Dịch vụ đăng ký Tên miền và Hosting</h4>
              <div class="port-img"> <img src="images/banner-domain.jpg" alt="port"> </div>
              <div class="shadow-big"></div>
            </div>
            <!-- portfolio desc--> 
            <!-- portfolio desc-->
            <div class="twelve columns alpha">
              <h3>Bảng Giá Tên Miền</h3>
              <div class="pricingtable">
                <div class="price-greybox">
                    <h1>Tên Miền</h1>
                    <ul>
                        <li><font color="#FF0000" size="+2">.vn </font></li>
                        <li class="alt"><font style=" font-size:16px;">.com.vn   |   .net.vn   |   .biz.vn</font></li>
                        <li><font style=" font-size:16px;">.com   |   .net   |   .org</font></li>
                        <li class="alt"><font style=" font-size:16px;">.name.vn</font></li>
                        <li><font style=" font-size:16px;">.org.vn   |   .edu.vn    |   .gov.vn    |    .ac.vn   |    .info.vn    |   .pro.vn    |    .health.vn   |   .int.vn</font></li>
                        <li></li>
                    </ul>                            
                </div>
                 <div class="price-greenbox">
                    <h1>Phí Duy Trì/Năm</h1>
                    <ul>
                        <li><font style="color: rgb(255, 0, 0); font-size:18px;">432.000 VNĐ</font></li>
                        <li class="alt"><font style=" font-size:15px;">315.000 VNĐ</font></li>
                        <li><font style=" font-size:15px;">216.000 VNĐ</font></li>
                        <li class="alt"><font style=" font-size:15px;">27.000 VNĐ</font></li>
                        <li><font style=" font-size:15px;">180.000 VNĐ</font></li>
                        <li></li>
                    </ul>                            
                </div>
                
                 <div class="price-greybox pricebox-marginleft">
                    <h1>Phí Khởi Tạo</h1>
                    <ul>
                        <li><font style="color: rgb(255, 0, 0);">315.000 VNĐ</font></li>
                        <li class="alt"><font style=" font-size:15px;">315.000 VNĐ</font></li>
                        <li><font style=" font-size:15px;">Miễn phí</font></li>
                        <li class="alt"><font style=" font-size:15px;">27.000 VNĐ</font></li>
                        <li><font style=" font-size:15px;">180.000 VNĐ</font></li>
                        <li></li>
                    </ul>                            
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <h3>Bảng Giá Hosting</h3>
              <div class="pricingtable">
                <div class="price-greybox">
                    <h1>Cá Nhân</h1>
                    <span class="price">24k</span>
                    <p class="grey">VNĐ/Tháng</p>
                    
                    <ul>
                        <li>Dung lượng: 300 MB</li>
                        <li class="alt">Băng thông: 5 GB</li>
                        <li class="alt">Tài khoản email: 10</li>
                        <li>Add on Domain: 0</li>
                        <li class="alt">Tên miền phụ: 3 </li>
                        <li>Park Domain: 3</li>
                        <li class="alt">My SQL/ MS SQL: 1</li>
                        <li>Hợp đồng tối thiểu: 12 tháng</li>
                        <li><button class="greybutton">Đăng Ký</button></li>
                    </ul>                            
                </div>
                
                 <div class="price-greenbox">
                    <h1>Doanh Nghiệp</h1>
                    <span class="price">88k</span>
                    
                    <ul>
                        <li>Dung lượng: 1.200 MB</li>
                        <li class="alt">Băng thông: 30 GB</li>
                        <li class="alt">Tài khoản email: 50</li>
                        <li>Add on Domain: 3</li>
                        <li class="alt">Tên miền phụ: 20</li>
                        <li>Park Domain: 20</li>
                        <li class="alt">My SQL/ MS SQL: 4</li>
                        <li>Hợp đồng tối thiểu: 6 tháng</li>
                        <li><button class="greybutton">Đăng Ký</button></li>
                    </ul>                            
                </div>
                
                 <div class="price-greybox pricebox-marginleft">
                    <h1>Thương mại điện tử</h1>
                    <span class="price">280k</span>
                    <p class="grey">VNĐ/Tháng</p>
                    
                    <ul>
                        <li>Dung lượng: 3500 MB</li>
                        <li class="alt">Băng thông: 120 GB</li>
                        <li class="alt">Tài khoản email: 150</li>
                        <li>Add on Domain: 10</li>
                        <li class="alt">Tên miền phụ: Không giới hạn</li>
                        <li>Park Domain: 100</li>
                        <li class="alt">My SQL/ MS SQL: 11</li>
                        <li>Hợp đồng tối thiểu: 6 tháng</li>
                        <li><button class="greybutton">Đăng Ký</button></li>
                    </ul>                            
                </div>
            </div>
                <br>
                <br>
             
              <div class="clear"></div>
            </div>
            <div class="twelve columns alpha">
              <h1 class="heading"><span>Dự án Mới</span></h1>
              <div class="wrap">
                <ul id="mycarousel" class="jcarousel-skin-tango">
                  <li><a href="http://thietkenhadep.vn/" target="_blank">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Tư vấn thiết kế kiến trúc Perfect Archi</p>
                      <div class="bgfade"></div>
                      <img src="images/port10.jpg" alt="Thiết kế website chuyên nghiệp"> </div>
                    </a> </li>
                  <li><a href="http://banhphuthe.com/" target="_blank">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ BÁNH PHU THÊ Bắc Ninh</p>
                      <div class="bgfade"></div>
                      <img src="images/port11.jpg" alt="Thiết kế website chuyên nghiệp"> </div>
                    </a> </li>
                  <li><a href="http://www.booksearch.sg" target="_blank">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ mua bán sách online của Singgapore.</p>
                      <div class="bgfade"></div>
                      <img src="images/port7.jpg" alt="port3"> </div>
                    </a> </li>
                  <li><a href="http://nobuviet.com" target="_blank">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ Nhà hàng Nobu Việt.</p>
                      <div class="bgfade"></div>
                      <img src="images/port8.jpg" alt="port5"> </div>
                    </a> </li>
                  <li><a href="http://artexthanglong-hometextile.com" target="_blank">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ cung cấp Chăn Ga Gối Đệm.</p>
                      <div class="bgfade"></div>
                      <img src="images/port1.jpg" alt="port7"> </div>
                    </a> </li>
                  <li><a href="http://linhkienthangmay.com.vn/" target="_blank" >
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Cung cấp linh kiện thang máy New Home.</p>
                      <div class="bgfade"></div>
                      <img src="images/port2.jpg" alt="port8"> </div>
                    </a> </li>
                  <li><a href="http://itoursvietnam.com/" target="_blank">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ du lịch itoursvietnam.</p>
                      <div class="bgfade"></div>
                      <img src="images/port3.jpg" alt="port9"> </div>
                    </a> </li>
                  <li><a href="#">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ khách sạn.</p>
                      <div class="bgfade"></div>
                      <img src="images/port6.jpg" alt="port4"> </div>
                    </a> </li>
                  <li><a href="#">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website trường mầu non Vischool</p>
                      <div class="bgfade"></div>
                      <img src="images/port4.jpg" alt="port1"> </div>
                    </a> </li>
                  <li><a href="#">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Website Dịch vụ Thời Trang Fashion</p>
                      <div class="bgfade"></div>
                      <img src="images/port5.jpg" alt="port2"> </div>
                    </a> </li>
                  <li><a href="#">
                    <div class="slide-jcarousel"> <span class="zoom">+</span>
                      <p class="title">Thiết kế các App cho website công ty & các dịch vụ khác.</p>
                      <div class="bgfade"></div>
                      <img src="images/port9.jpg" alt="port6"> </div>
                    </a> </li>
                </ul>
              </div>
            </div>
            <!--end related work--> 
            
          </div>
          <!--end 12 columns-->
          
          <div class="four columns"><!--4 columns-->
            
            <aside class="sidebar"><!--sidebar-->
              
              <div class="blogcategories"><!--blog categories-->
                <h6>Danh mục Dịch Vụ</h6>
                <ul>
                  <li><a href="thiet-ke-web.html">Thiết kế Theo yêu cầu</a></li>
                   <li><a href="300-mau-website.html">Thiết kế Web nhanh</a></li>
                  <li><a href="thiet-ke-web.html">Thiết kế gian hàng trên facebook</a></li>
                  <li><a href="thiet-ke-web.html">Thiết kế Email Marketing</a></li>
                  <li><a href="thiet-ke-web.html">Nhận quản trị nội dung web</a></li>
                  <li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Logo</a></li>
                  <li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Ấn phẩm</a></li>
                  <li><a href="thiet-ke-bo-thuong-hieu.html">Tư vấn TK bộ thương hiệu</a></li>
                  <li><a href="seo-adword.html">SEO & Adword</a></li>
                  <li><a href="domain-hosting.html">Tên Miền & Hosting</a></li>
                  <li><a href="phan-mem.html">Phần Mềm</a></li>
                </ul>
              </div>
              <!--end blog categories-->
              <div class="textwidget"><!--text widget-->
                <h6 class="margin20">Hỗ trợ online</h6>
                <div class="ja-col">
                  <li> <a title="Thư Tư vấn thiết kế web bán hàng" target="_blank" href="ymsgr:sendim?duong_xuan_hao" rel="nofollow"> <img border="0" class="avatar" alt="Thư Tư vấn thiết kế web bán hàng" title="Thư Tư vấn thiết kế web bán hàng" src="images/avata-lan.jpg"></a> <span class="title-ho-tro" style="top: -40px;">Hoàng Thư</span> <span class="sdt" style="top: -40px;">0936.474.346</span> <span class="sdt" style="top: -40px;">thuhn@geckomedia.vn</span>
                    <div class="link"> <a class="yahoo" target="_blank" href="ymsgr:sendim?duong_xuan_hao" rel="nofollow" title="Tư vấn thiết kế web bán hàng"> <img src="http://opi.yahoo.com/online?u=duong_xuan_hao&amp;m=g&amp;t=5"> </a> <a rel="nofollow" class="mailto" href="mailto:thuhn@geckomedia.vn">thuhn@geckomedia.vn</a> </div>
                  </li>
                  <li> <a title="Thư Tư vấn thiết kế web bán hàng" target="_blank" href="ymsgr:sendim?tuvan2_geckomedia" rel="nofollow"> <img border="0" class="avatar" alt="Thư Tư vấn thiết kế web bán hàng" title="Thư Tư vấn thiết kế web bán hàng" src="images/avata-hoa.jpg"></a> <span class="title-ho-tro" style="top: -40px;">Quỳnh Hoa</span> <span class="sdt" style="top: -40px;">097.642.9086</span> <span class="sdt" style="top: -40px;">thuhn@geckomedia.vn</span>
                    <div class="link"> <a class="yahoo" target="_blank" href="ymsgr:sendim?tuvan2_geckomedia" rel="nofollow" title="Tư vấn thiết kế web bán hàng"> <img src="http://opi.yahoo.com/online?u=tuvan2_geckomedia&amp;m=g&amp;t=5"> </a> <a rel="nofollow" class="mailto" href="mailto:thuhn@geckomedia.vn">thuhn@geckomedia.vn</a> </div>
                  </li>
                </div>
              </div>
              
              <!--end tabwidget-->
              
              <div class="accordionwidget"><!--accordion widget-->
                <h6 class="margin20">Khi chọn GECKO MEDIA</h6>
                <div id="accordion">
                  <div class="accordionButton"><span>+</span>Dễ dàng sử dụng Hệ thống Admin.</div>
                  <div class="accordionContent">Tích hợp bộ quản lý nội dung cho phép bạn tạo, chỉnh sửa: sản phẩm, tin tức, dịch vụ và mọi thứ. Cập nhật nội dung cũng như cung cấp nhiều thông tin khác như chi tiết công ty, chính sách, khuyễn mãi, tin tức, liên hệ, bảo hành v.v...</div>
                  <div class="accordionButton"><span>+</span>Trả một lần, sở hữu cả đời.</div>
                  <div class="accordionContent">Bạn chỉ cần thanh toán một lần là có thể sử dụng hệ thống web đẹp mà không cần quan tâm đến thời gian kết thúc. Không phải đóng phí hằng năm hay hàng tháng. Nâng cấp và truy cập phiên bản mới miễn phí trong vòng một năm.</div>
                  <div class="accordionButton"><span>+</span>chức năng hiện đại và ưu việt.</div>
                  <div class="accordionContent">Sản phẩm thiết kế website của <a href="http://geckomedia.vn">Gecko Media</a> chứa đựng các đặc tính của thương mại điện tử cùng nhiều cải tiến như one-page checkout, giao diện web dựa trên cơ sở AJAX, bộ quản lý bộ nhớ ảo, quản lý đơn hàng, cập nhật giá sản phẩm hàng loại, quản lý các phiếu giảm giá (copoun) và nhiều đặc tính khác của công nghệ web 2.0.</div>
                  <div class="accordionButton"><span>+</span>Hỗ trợ KT và đáp ứng sự phát triển</div>
                  <div class="accordionContent">Bạn sẽ luôn được hỗ trợ trong khi sử dụng. Các chuyên gia hỗ trợ kỹ thuật của chúng tôi có nhiệm vụ giúp bạn giải quyết những vấn đề kỹ thuật mà bạn đang gặp phải. Bạn có thể thuê lập trình viên của chúng tôi nhằm đáp ứng nhu cầu đặc biệt riêng khi bạn cần thiết kế web cao cấp hơn nhiều tính năng riêng biệt của bạn hơn.</div>
                </div>
              </div>
              <!--end accordion widget--> 
              
              <!--end tex widget-->
              
              <div class="flickrwidget"><!--text widget-->
                <h6 class="margin20">flickr photo</h6>
                <div class="flickr"></div>
              </div>
              <!--end tex widget--> 
              
            </aside>
            <!--end sidebar--> 
            
          </div>
          <!--end 4 columns--> 
          
        </div>
        <!--end containerbox--> 
      </div>
      <!--end container--> 
    </div>
    <!--end main container--> 
    
    <!--##################### footer ######################## -->
    <footer>
      <div class="footer-content">
        <div class="container">
          <div class="four columns"><!--first block-->
            <h3 class="logo"><a href="index.html">Gecko Media</a></h3>
            <p>Công ty thiết kế website uy tín, chất lượng. Dịch vụ thiết kế website theo đúng chuẩn SEO. Hãy cùng tìm hiểu cách chúng tôi giúp việc kinh doanh của bạn phát triển mạnh trên internet!<br />
              <a href="aboutus.html">Xem tiếp &rarr;</a></p>
          </div>
          <!--end first block-->
          <div class="four columns"><!--second block-->
            <h3>Hỗ Trợ khách hàng</h3>
            <div class="ja-col">
              <li> <a rel="nofollow" href="ymsgr:sendim?duong_xuan_hao" target="_blank" title="Thư Tư vấn thiết kế web bán hàng"> <img border="0" src="images/avata-lan.jpg" title="Thư Tư vấn thiết kế web bán hàng" alt="Thư Tư vấn thiết kế web bán hàng" class="avatar"></a> <span class="title-ho-tro">Hoàng Thư</span> <span class="sdt">0936.474.346</span> <span class="sdt">thuhn@geckomedia.vn</span>
                <div class="link"> <a title="Tư vấn thiết kế web bán hàng" rel="nofollow" href="ymsgr:sendim?duong_xuan_hao" target="_blank" class="yahoo"> <img src="http://opi.yahoo.com/online?u=duong_xuan_hao&amp;m=g&amp;t=5"> </a> <a href="mailto:thuhn@geckomedia.vn" class="mailto" rel="nofollow">thuhn@geckomedia.vn</a> </div>
              </li>
              <li> <a rel="nofollow" href="ymsgr:sendim?tuvan2_geckomedia" target="_blank" title="Thư Tư vấn thiết kế web bán hàng"> <img border="0" src="images/avata-hoa.jpg" title="Thư Tư vấn thiết kế web bán hàng" alt="Thư Tư vấn thiết kế web bán hàng" class="avatar"></a> <span class="title-ho-tro">Quỳnh Hoa</span> <span class="sdt">097.642.9086</span> <span class="sdt">thuhn@geckomedia.vn</span>
                <div class="link"> <a title="Tư vấn thiết kế web bán hàng" rel="nofollow" href="ymsgr:sendim?tuvan2_geckomedia" target="_blank" class="yahoo"> <img src="http://opi.yahoo.com/online?u=tuvan2_geckomedia&amp;m=g&amp;t=5"> </a> <a href="mailto:thuhn@geckomedia.vn" class="mailto" rel="nofollow">thuhn@geckomedia.vn</a> </div>
              </li>
            </div>
          </div>
          <!--end second block-->
          
          <div class="four columns"><!--third block-->
            <h3>flickr photos</h3>
            <div class="flickr"></div>
          </div>
          <!--end third block-->
          
          <div class="four columns"><!--fourth block-->
            <h3>Thông tin liên hệ:</h3>
            <p>ĐC: Số 19 Phan Bôi Châu - Hoàn Kiếm - Hà Nội</p>
            <p> Hotline: 097.642.9086</p>
            <p>Email: <a href="mailto:info@geckomedia.vn">info@geckomedia.vn</a></p>
            <ul class="social">
              <li><a href="http://www.facebook.com/geckomedia" title="facebook" target="_blank"><span class="facebook"></span></a></li>
              <li><a href="http://www.twitter.com/geckomedia" title="twitter" target="_blank"><span class="twitter"></span></a></li>
              <li><a href="http://www.youtube.com/geckomedia" title="youtube" target="_blank"><span class="youtube"></span></a></li>
              <li><a href="http://www.linkedin.com/geckomedia" title="linkedin" target="_blank"><span class="linkedin"></span></a></li>
              <li><a href="#"><span class="rss"></span></a></li>
            </ul>
          </div>
          <!--end fourt block--> 
          
        </div>
      </div>
    </footer>
    <!--end footer-->
    
    <div class="bottom"><!--bottom-->
      <div class="bottom-content">
        <div class="sixteen columns"> <span class="copyright">Copyright &copy; <a href="geckomedia.vn">GECKOMEDIA</a>. All right reserved. </span> </div>
      </div>
    </div>
    <!--end bottom--> 
    
  </div>
  <!--end boxview--> 
</div>
<!-- end boxcontainer-->

<div id="toTop">top</div>

<!-- JS
	================================================== --> 
<script type="text/javascript" src="javascripts/jquery-1.8.2.min.js"></script> 
<script src="javascripts/tabs.js"></script> 

<!--nivo slider--> 
<script src="javascripts/jquery.nivo.slider.js"></script> 

<!--plugins--> 
<script src="javascripts/jquery.tweet.js"></script> 
<script src="javascripts/jquery.flickrush.js"></script> 
<script src="javascripts/jquery.flexslider.js"></script> 
<script src="javascripts/simple.carousel.js"></script> 
<script src="javascripts/jquery-ui.min.js"></script> 

<!--instantiate js plugins--> 
<script src="javascripts/whatever.js"></script> 
<script src="javascripts/jquery.jcarousel.js"></script> 

<!--[if IE 8]>
		<script src="javascripts/whateverIE8.js"></script>
	<![endif]--> 

<!-- End Document
================================================== -->
</body>
</html>