
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>GECKO MEDIA</title>
	<meta name="description" content="Công ty thiết kế website uy tín, chất lượng. Dịch vụ thiết kế website theo đúng chuẩn SEO được đánh giá cao bởi các doanh nghiệp trong và ngoài nước. Hãy cùng chúng tôi giúp việc kinh doanh của bạn phát triển mạnh trên internet! Hotline: 097.642.9086">
	<meta name="kyword" content="Hỗ Trợ">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->

	<!-- CSS for Nivo Slider -->
	<link rel="stylesheet" href="stylesheets/themes/default/default.css">
    <link rel="stylesheet" href="stylesheets/nivo-slider.css">
    <link rel="stylesheet" href="stylesheets/nivo-style.css">
    
    <!-- css site style -->
    <link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/buttons.css">
	<link rel="stylesheet" href="stylesheets/mediaquery.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if IE 9]>
		<link rel="stylesheet" href="stylesheets/layout-ie9.css">
	<![endif]-->

	<!--[if IE 8]>
		<link rel="stylesheet" href="stylesheets/layout-ie8.css">
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>

<div class="siteoptions"><!-- site option box view -->
	
	<div class="siteoptions-container">
		
		<h5>Chọn nền bạn thích:</h5>
		
		<ul>
			<li class="bg1"></li>
			<li class="bg2"></li>
			<li class="bg3"></li>
			<li class="bg4"></li>
			<li class="bg5"></li>
			<li class="bg6"></li>
			<li class="bg7"></li>
			<li class="bg8"></li>
			<li class="bg9"></li>
			<li class="bg10"></li>
			<li class="bg11"></li>
			<li class="bg12"></li>
			<li class="bg13"></li>
			<li class="bg14"></li>
			<li class="bg15"></li>
		</ul>
		
		<span class="removebg">Bỏ hình nền</span>
		
	</div>
	
	<div class="siteoptions-btn">
	</div>
	
</div><!-- end site option box view -->



<div class="boxcontainer">
<div class="boxview">
    
		<div class="header">		
			<header class="header-content">
		
				<h1 class="logo"><a href=".">Gecko Media</a></h1>
										
					<div class="navigation">
		
						<nav class="primary">					
								<ul id="nav">								
									<li><a href="index.html" >Home</a></li>									
									<li><a href="gioi-thieu.html" >Giới thiệu</a></li>
									<li><a href="#">Dịch vụ</a>									
										<ul>
											<li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Bộ Thương Hiêu</a>
                                            	<ul>
													<li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Logo</a></li>
													<li><a href="thiet-ke-bo-thuong-hieu.html">Thiết kế Ấn phẩm</a></li>
                                                    <li><a href="thiet-ke-bo-thuong-hieu.html">Tư vấn thiết kế bộ nhận dạng thương hiệu</a></li>
												</ul>	
                                            </li>
											<li><a href="thiet-ke-web.html">Thiết kế Website</a>																			
												<ul>
													<li><a href="thiet-ke-web.html">Thiết kế Theo yêu cầu</a></li>
													<li><a href="300-mau-website.html">Thiết kế Web nhanh</a></li>
                                                    <li><a href="thiet-ke-web.html">Thiết kế gian hàng trên facebook</a></li>
                                                    <li><a href="thiet-ke-web.html">Thiết kế Email Marketing</a></li>
                                                    <li><a href="thiet-ke-web.html">Nhận quản trị nội dung web</a></li>
												</ul>											
											</li>
                                            <li><a href="seo-adword.html">SEO & Adword</a></li>
                                            <li><a href="domain-hosting.html">Tên Miền & Hosting</a></li>
                                            <li><a href="phan-mem.html">Phần Mềm</a>
                                            	<ul>
													<li><a href="phan-mem.html">PM FORUM POSTER </a></li>
													<li><a  href="phan-mem.html">PM quảng cáo Facebook</a></li>
                                                    <li><a  href="phan-mem.html">PM SMSSchool</a></li>
                                                    <li><a  href="phan-mem.html">PM RestaurantPro</a></li>
                                                    <li><a  href="phan-mem.html">PM HotelPro</a></li>
                                                    <li><a  href="phan-mem.html">PM Callcenter</a></li>
                                                    <li><a  href="phan-mem.html">PM SMSGW</a></li>
												</ul>
                                            </li>
										</ul>										
									</li>
									<li><a href="ho-tro.html" class="active" >Hỗ Trợ</a></li>
									<li><a href="lien-he.html">Liên Hệ</a></li>						
								</ul>									
						</nav><!--end container-->
						
						<div class="clearfix"></div>
						
					</div><!--end band navigation-->							
		
			</header><!--end container-->
        
        
        	
		
		<!--page intro-->
		
		<div class="band pageintro">
		
			<div class="pageintro-content">
			
				<div class="container">
		
					<div class="thirteen columns">					
						<h1>services</h1>
						<h4>These are what we can do for you, Just what you need it.</h4>						
					</div>
					
					<div class="three columns">
						<form name="search" method="post" action="#">
							<input type="text" id="search">
							<input type="submit" name="button" id="button" value="">
						</form>
					</div>
				
				</div>
				
		    </div>    
		</div>		
		<!--end page intro-->
		
		
		<div class="shadow"><!--shadow-->
			<div class="container">
				<div class="portmenu-shadow"></div>
			</div>
        </div><!--end shadow-->
		
        
        <div class="maincontainer"><!-- start main container -->
        
            <div class="container">
                <div class="containerbox">
                	<div class="aboutus"><!--services content-->
                        <div class="eight columns">
                            <img src="images/service.jpg" alt="Services"/>
                            <div class="aboutus-shadow"></div>
                        </div>
                        
                        <div class="eight columns">
                            <h1 class="heading"><span>Mọi Thông tin hỗ trợ xin gửi về địa chỉ sua:</span></h1>
                            <p>
                            <strong>Trụ sở Hà Nội</strong><br>
                            ĐC: Số 19 Phan Bội Châu - Hoàn Kiếm - Hà Nội
                            <br>Hotline: <b>097.642.9086</b>
                            <br>Email: info@geckmedia.vn
                            </p> 
        
                            <p>
                            <strong>Chi Nhánh: Bắc Ninh</strong><br>
                            ĐC: Số 8 Phố Thịnh Lang - Đình Bảng - Từ Sơn - Bắc Ninh
                            <br>ĐT: 0241.3844.100&nbsp;&nbsp;&nbsp; Hotline: <b>0936.474.346</b>
                            <br>Email: info@geckmedia.vn
                            </p> 
                        </div>
                    </div><!-- end services -->
                    
                </div><!--end containerbox -->
            </div><!--end container -->
            
            
            <!--end container -->         
            
            
            
            <!--end container -->

        
        </div><!--end main container-->
        
		<!--##################### footer ######################## -->
		<footer>
			<div class="footer-content">
            	<div class="container">			
				<div class="four columns"><!--first block-->
					<h3 class="logo"><a href="index.html">Gecko Media</a></h3>
					<p>Công ty thiết kế website uy tín, chất lượng. Dịch vụ thiết kế website theo đúng chuẩn SEO. Hãy cùng tìm hiểu cách chúng tôi giúp việc kinh doanh của bạn phát triển mạnh trên internet!<br />
					<a href="aboutus.html">Xem tiếp &rarr;</a></p>
				</div><!--end first block-->
				<div class="four columns"><!--second block-->
					<h3>Hỗ Trợ khách hàng</h3>
					<div class="ja-col">
                        <li>
                            <a rel="nofollow" href="ymsgr:sendim?duong_xuan_hao" target="_blank" title="Thư Tư vấn thiết kế web bán hàng">
                            <img border="0" src="images/avata-lan.jpg" title="Thư Tư vấn thiết kế web bán hàng" alt="Thư Tư vấn thiết kế web bán hàng" class="avatar"></a>
                            <span class="title-ho-tro">Hoàng Thư</span>
                             
                            <span class="sdt">0936.474.346</span>
                            <span class="sdt">thuhn@geckomedia.vn</span>
                            <div class="link">
                            <a title="Tư vấn thiết kế web bán hàng" rel="nofollow" href="ymsgr:sendim?duong_xuan_hao" target="_blank" class="yahoo">
                            <img src="http://opi.yahoo.com/online?u=duong_xuan_hao&amp;m=g&amp;t=5">
                            </a>
                            <a href="mailto:thuhn@geckomedia.vn" class="mailto" rel="nofollow">thuhn@geckomedia.vn</a>
                            </div>
                        </li>
                         <li>
                            <a rel="nofollow" href="ymsgr:sendim?tuvan2_geckomedia" target="_blank" title="Thư Tư vấn thiết kế web bán hàng">
                            <img border="0" src="images/avata-hoa.jpg" title="Thư Tư vấn thiết kế web bán hàng" alt="Thư Tư vấn thiết kế web bán hàng" class="avatar"></a>
                            <span class="title-ho-tro">Quỳnh Hoa</span>
                             
                            <span class="sdt">097.642.9086</span>
                            <span class="sdt">thuhn@geckomedia.vn</span>
                            <div class="link">
                            <a title="Tư vấn thiết kế web bán hàng" rel="nofollow" href="ymsgr:sendim?tuvan2_geckomedia" target="_blank" class="yahoo">
                            <img src="http://opi.yahoo.com/online?u=tuvan2_geckomedia&amp;m=g&amp;t=5">
                            </a>
                            <a href="mailto:thuhn@geckomedia.vn" class="mailto" rel="nofollow">thuhn@geckomedia.vn</a>
                            </div>
                        </li>
                    </div>
				</div><!--end second block-->
				
				
				<div class="four columns"><!--third block-->
					<h3>flickr photos</h3>
					<div class="flickr"></div>
				</div><!--end third block-->
				
				
				<div class="four columns"><!--fourth block-->
					<h3>Thông tin liên hệ:</h3>
					<p>ĐC: Số 19 Phan Bôi Châu - Hoàn Kiếm - Hà Nội</p>
		
					<p> Hotline: 097.642.9086</p>
		
					<p>Email: <a href="mailto:info@geckomedia.vn">info@geckomedia.vn</a></p>
                    <ul class="social">
						<li><a href="http://www.facebook.com/geckomedia" title="facebook" target="_blank"><span class="facebook"></span></a></li>
						<li><a href="http://www.twitter.com/geckomedia" title="twitter" target="_blank"><span class="twitter"></span></a></li>
						<li><a href="http://www.youtube.com/geckomedia" title="youtube" target="_blank"><span class="youtube"></span></a></li>
						<li><a href="http://www.linkedin.com/geckomedia" title="linkedin" target="_blank"><span class="linkedin"></span></a></li>
						<li><a href="#"><span class="rss"></span></a></li>
					</ul>
				</div><!--end fourt block-->


				</div>
			</div>
		</footer><!--end footer-->
		
		<div class="bottom"><!--bottom-->
			<div class="bottom-content">
				<div class="sixteen columns">
					<span class="copyright">Copyright &copy; <a href="geckomedia.vn">GECKOMEDIA</a>. All right reserved. </span>
					
				</div>
			</div>
		</div><!--end bottom-->
        
	</div><!--end boxview-->
</div><!-- end boxcontainer-->

<div id="toTop">top</div>

	<!-- JS
	================================================== -->
	<script type="text/javascript" src="javascripts/jquery-1.8.2.min.js"></script>
	<script src="javascripts/tabs.js"></script>
	
	<!--nivo slider-->
    <script src="javascripts/jquery.nivo.slider.js"></script>
    
	<!--plugins-->
	<script src="javascripts/jquery.tweet.js"></script>	
	<script src="javascripts/jquery.flickrush.js"></script>	
	<script src="javascripts/jquery.flexslider.js"></script>
	<script src="javascripts/simple.carousel.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>	
		
	<!--instantiate js plugins-->
	<script src="javascripts/whatever.js"></script>	
	<script src="javascripts/jquery.jcarousel.js"></script>

	<!--[if IE 8]>
		<script src="javascripts/whateverIE8.js"></script>
	<![endif]-->
	
<!-- End Document
================================================== -->
</body>
</html>