/*
* Copyright 2011, GECKO MEDIA
* www.geckomedia.vn
* Hotline: 097.642.9086
* 04/04/2013
*/

 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
.nivoSlider img {
	position:absolute;
	top:0px !important;
        right: 0px;
	/*left:430px !important;*/
        /*width: 520px !important;*/
        height: 450px !important;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	/*width: 520px !important;*/
        height: 450px !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	top:40px;
	color:#fff;
	width:400px;
	height:350px;
	z-index:8;
	padding: 5px 10px;
	display: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.nivo-caption div{
	width:400px;
	height:350px;
	}
	
.nivo-caption h1{
	margin:40px 0 30px 0;
	color: #505050;
	font-family: 'arial';
	font-size: 34px;
	font-weight: bold;
	
	text-shadow: 1px 1px 0 #fff;
	-moz-text-shadow: 1px 1px 0 #fff;
	-webkit-text-shadow: 1px 1px 0 #fff;
	-o-text-shadow: 1px 1px 0 #fff;
	-ms-text-shadow: 1px 1px 0 #fff;
	
	line-height: 40px;
	
	-webkit-font-smoothing: antialiased;
	}
	
.nivo-caption h2{
	margin:0 0 30px 0;
	color: #73a91c;
	
	font-family: 'arial';
	font-size: 24px;
	
	text-shadow: 1px 1px 0 #fff;
	-moz-text-shadow: 1px 1px 0 #fff;
	-webkit-text-shadow: 1px 1px 0 #fff;
	-o-text-shadow: 1px 1px 0 #fff;
	-ms-text-shadow: 1px 1px 0 #fff;
	
	line-height: 50px;
	
	-webkit-font-smoothing: antialiased;
	}
	
.nivo-caption h1.v2{
	margin:20px 0 2px 0;
	color: #fff;
	background: #6e6f70;
	padding: 20px;
	display: block;
	
	font-family: 'arial';
	font-size: 30px;
	
	text-shadow: 1px 1px 0 #000;
	-moz-text-shadow: 1px 1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 #000;
	-o-text-shadow: 1px 1px 0 #000;
	-ms-text-shadow: 1px 1px 0 #000;
	
	line-height: 1.2em;
	
	-webkit-font-smoothing: antialiased;
	}
	
.nivo-caption h2.v2{
	margin:0 0 20px 0;
	color: #fff;
	background: #73a91c;
	width: 280px;
	padding: 10px 20px;
	
	
	font-family: 'arial';
	font-size: 20px;
	
	text-shadow: 1px 1px 0 #000;
	-moz-text-shadow: 1px 1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 #000;
	-o-text-shadow: 1px 1px 0 #000;
	-ms-text-shadow: 1px 1px 0 #000;
	
	line-height: 1.5em;
	
	-webkit-font-smoothing: antialiased;
	}
	
.nivo-caption h2.v3{
	margin:0 0 20px 0;
	color: #fff;
	background: #73a91c;
	padding: 10px 20px;
	
	
	font-family: 'arial';
	font-size: 20px;
	
	text-shadow: 1px 1px 0 #000;
	-moz-text-shadow: 1px 1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 #000;
	-o-text-shadow: 1px 1px 0 #000;
	-ms-text-shadow: 1px 1px 0 #000;
	
	line-height: 1.5em;
	
	-webkit-font-smoothing: antialiased;
	}
	
.nivo-caption h1.v3{
	margin:20px 0 30px 0;
	color: #505050;
	font-family: 'arial';
	font-size: 34px;
	font-weight: bold;
	
	text-shadow: 1px 1px 0 #fff;
	-moz-text-shadow: 1px 1px 0 #fff;
	-webkit-text-shadow: 1px 1px 0 #fff;
	-o-text-shadow: 1px 1px 0 #fff;
	-ms-text-shadow: 1px 1px 0 #fff;
	
	line-height: 1em;
	
	-webkit-font-smoothing: antialiased;
	}

.nivo-caption p {
	margin:0 0 30px 0;
	color: #868585;
	
	font-family: arial;
	font-size: 14px;
	
	-webkit-font-smoothing: antialiased;
} 
.nivo-caption a {
	display:inline !important;
	text-decoration: none;
}
.nivo-html-caption {
    display:none;
	background: none;
}
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	width:100%;
}
.nivo-prevNav {
	left:-100px;
}
.nivo-nextNav {
	right:-100px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}